@charset "utf-8";

@font-face {
  font-family: electronicFont;
  src: url('../font/DS-DIGIT.TTF');
}

body {
  // background: url("../images/bg.jpg") no-repeat center top;
  background: rgba(3, 38, 74, 1) no-repeat center top;
  background-size: cover;
  z-index: 2;
}

.title {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.title img {
  max-width: 100%;
  height: 6vh;
  width: 100vw;
  display: block;
}

.title .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3vh;
  font-size: 3vh;
  color: #FFFFFF;
  text-align: center;
}

.title .safe {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%);
  line-height: 2vh;
  font-size: 2vh;
  color: #FFFFFF;
  text-align: center;
}

.title .safe .safe-num {
  line-height: 3vh;
  font-size: 3vh;
  color: rgba(207, 219, 123, 1);
  font-family: electronicFont;
}

.chart-title {
  // position: absolute;
  // top: 4%;
  // right: 2%;
  // width: 4vw;
  // height: 4.5vh;
  // color: white;
  // padding: .2vh;
  // border: .3vh solid pink;
  // border-radius: .5vh;
  // text-align: center;
  
}

.grid-container {
    display: grid;
    position: absolute;
    top: 4%;
    right: 4%;
    width: 6vw;
    height: 6vh;
    // background-color: pink;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    // background-color: lightblue;
    border: .1vh solid white;
    width: 100%;
    height: 100%;
    font-size: 1.3vh;
}

.auto-grid-container {
    display: grid;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    // background-color: pink;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
}

.auto-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    // background-color: lightblue;
    border: .1vh solid white;
    width: 100%;
    height: 100%;
    font-size: 2.3vh;
}

.flex-row {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 92vh;
  z-index: 2;
}

.flex-column {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 2vh;
  width: 25vw;
}

.container{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  margin-top: 0.6vh;
  margin-bottom: 0.6vh;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  padding: 1.5vh;
  background-color: rgba(80, 80, 180, 0.15);
  overflow: hidden;
}

.chart{
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.container:before,
.container:after{
  position:absolute;
  width: 2vh;
  height: 2vh;
  content: ""; 
  border-top: 0.3vh solid #02a6b5;
  top: 0;
}

.container:before{
  border-left: 0.3vh solid #02a6b5;
  left: 0;
}

.container:after{
  border-right: 0.3vh solid #02a6b5;
  right: 0;
}

.boxfoot{
  position:absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

.boxfoot:before,
.boxfoot:after{
  position:absolute;
  width: 2vh;
  height: 2vh;
  content: "";
  border-bottom: 0.3vh solid #02a6b5;
  bottom: 0;
}

.boxfoot:before{
  border-left: 0.3vh solid #02a6b5;
  left: 0;
}

.boxfoot:after{
  border-right: 0.3vh solid #02a6b5;
  right: 0;
}

.container .title {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  display: inline-block;
  color: white;
  font-weight: bold;
  font-size: 1.1vw;
  height: 4vw;
}

.premake-container1 {
  display: flex;
  position: relative;
  top: 10%;
}

.premake-container2 {
  display: flex;
  position: relative;
  justify-content: space-evenly;
  height: 80%;
  top: 10%;
}

.premake-content1 {
  display: flex;
  width: 100%;
  font-size: 1vw;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.premake-content2 {
  display: flex;
  width: 100%;
  height: 20%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.premake-content3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.npi-otd-container {
  display: flex;
  // background-color: pink;
  position: relative;
  justify-content: space-evenly;
  height: 80%;
  top: 40%;
}

.npi-otd-content {
  display: flex;
  width: 50%;
  height: 50%;
  font-size: 6vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.automatic-container1 {
  display: flex;
  // position: relative;
  position: absolute;
  top: 25%;
  left: 20%;
  transform: translate(-50%, 0);
}

.automatic-container2 {
  display: flex;
  // position: relative;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 50%;
  height: 60%;
  top: 20%;
}

.automatic-content1 {
  display: flex;
  // position: relative;
  top: 10%;
  left: 5%;
  width: 100%;
  font-size: 1vw;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.automatic-content2 {
  display: flex;
  width: 100%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.automatic-content3 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 30%;
  left: 3%;
  width: 50%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.npi-cost-container1 {
  display: flex;
  // background-color: pink;
  position: relative;
  top: 10%;
}

.npi-cost-container2 {
  display: flex;
  // background-color: pink;
  position: relative;
  justify-content: space-evenly;
  height: 40%;
  top: 10%;
}

.npi-cost-content1 {
  display: flex;
  width: 100%;
  font-size: 1vw;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.npi-cost-content2 {
  display: flex;
  width: 100%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.npi-cost-content3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.npi-review-container1 {
  display: flex;
  // background-color: pink;
  position: relative;
  top: 20%;
}

.npi-review-container2 {
  display: flex;
  // background-color: pink;
  position: relative;
  justify-content: space-evenly;
  height: 80%;
  top: 20%;
}

.npi-review-content1 {
  display: flex;
  width: 100%;
  font-size: 1vw;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
}

.npi-review-content2 {
  display: flex;
  width: 100%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.npi-review-content3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  font-size: 4vh;
  justify-content: center;
  margin: 1vh;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  color: rgba(207, 219, 123, 1);
  border: .1vh solid rgba(255, 255, 255, 1);
  border-radius: 2vh;
  background-color: rgba(80, 80, 180, 0.3);
}

.automatic-carousel-head {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  height: 6%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.automatic-carousel-container {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 80%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.automatic-carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.npi-carousel-head {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  height: 6%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.npi-carousel-container {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 56%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.npi-carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.exception-carousel-head {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 0);
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  height: 6%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.exception-carousel-container {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 56%;
  width: 96%;
  // background-color: pink;
  border: .2vh solid rgba(255, 255, 255, 1);
  overflow: hidden;
}

.exception-carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

ul {
  counter-reset: li-counter;
  overflow: hidden;
}

li {
  display: flex;
  line-height: 4vh;
  font-size: 2vh;
  text-align: left;
  border: .2vh solid rgba(255, 255, 255, .5);
  margin: .5vh;
}

// .automatic-carousel li:before {
//   content: counter(li-counter);
//   counter-increment: li-counter;
// }

li span:nth-of-type(1) {
  // background-color: rgba(255, 0, 0, .2);
  width: 40%;
}

li span:nth-of-type(2) {
  // background-color: rgba(255, 255, 0, .2);
  width: 15%;
}
 
li span:nth-of-type(3) {
  // background-color: rgba(0, 0, 255, .2);
  width: 15%;
}
 
li span:nth-of-type(4) {
  // background-color: rgba(0, 255, 255, .2);
  width: 20%;
}

li span:nth-of-type(5) {
  // background-color: rgba(255, 0, 255, .2);
  width: 18%;
}

li:nth-of-type(2n) {
  color: rgba(255, 125, 255, 1);
}

li:nth-of-type(2n+1) {
  color: rgba(255, 255, 0, 1);
}

li span:before {
  content: ' '
}

li span:nth-of-type(2n) {
  color: rgba(125, 200, 100, 1);
}

li span:nth-of-type(2n+1) {
  color: rgba(255, 255, 255, 1);
}

#canvas {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
