@charset "utf-8";

body{
  background: rgba(0, 14, 72, 1) center top;
  background-size:cover;
}

.title {
  position: relative;
  display: inline-block;
  z-index: 1;
}

.title img {
  max-width: 100%;
  height: 6vh;
  width: 100vw;
  display: block;
}

.title .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3vh;
  font-size: 2vw;
  color: #FFFFFF;
  text-align: center;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-col{
  display: flex;
  flex-direction: column;
}

.container{
  height: 42vh;
  width: 33%;
  padding: 0.2vh;
  border-radius: 2vh;
  border: 0.5vh solid rgba(0, 124, 72, 1);
  margin: 1vh;
  display: flex;
  background-color: rgba(155, 150, 250, 0.15);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.container .carousel {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.carousel li {
  line-height: 10vh;
  font-size: 4vh;
  text-align: left;
}

.carousel li:nth-of-type(2n) {
  color: rgba(255, 125, 255, 1);
}

.carousel li:nth-of-type(2n+1) {
  color: rgba(255, 255, 0, 1);
}

.carousel li span:before {
  content: ' '
}

.carousel li span:nth-of-type(2n) {
  color: rgba(125, 200, 100, 1);
}

.carousel li span:nth-of-type(2n+1) {
  color: rgba(200, 125, 100, 1);
}

#canvas {
  width: 100vw;
  height: 100vh;
  position:absolute;
  top:0;
  left:0;
}
